.header {
    margin-left: 0;
    background: $brightColor;
    border-bottom: 1px solid #ECECEC;

        &-section {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
        }
}